.note {
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    width: 200px;
    height: 200px;
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    cursor: move;
}
.noteAuthor {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    user-select: none;
}
.noteText {
    cursor: text;
    height: 146px;
    overflow-y: scroll;
}